<!-- templates/login.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/profile.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>
        <div id="head"></div>
        <div id = "login">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    
        <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.email.label() }}
            &nbsp;&nbsp;&nbsp;&nbsp;{{ form.email() }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.password.label() }}
            {{ form.password() }}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.remember.label() }}
            {{ form.remember() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        </form>
        <br>
        <div>Don't have an account?</div><br>
        <a href="/signup" target="_top">
            <input input id="register" type="button" value="Sign Up"></input>
        </a>
        </div> 
    </body>
</html>

