<!-- templates/news.html -->

{% extends 'profile.html' %}

{% block content %}

    {% if news %}
        {% for post in news %}
        {% if current_user.nickname != post.author_nickname %}
            <div id='post'>
                <div class = 'Post-text'>
                    <span class = 'aux_text'>{{post.post_date}}&nbsp;<a href="{{ url_for('routes_bp.profile', nickname = post.author_nickname) }}">{{post.author_nickname}}</a>&nbsp;wrote:</span>
                    <br>
                    {{post.post_text}}
                </div>
                <br>             
                <form id='add_comment{{post.post_id}}' action='{{ url_for("routes_bp.add_comment", post_id = post.post_id) }}' method='post'> 
                    <div id = 'posts_ui{{post.post_id}}'>
                        <div class="posts_ui_button_left">
                            {% if auth %}     
                            <a href="#" id = 'comment_btn' class = 'posts_ui_text' onclick='comment_form("posts_ui{{post.post_id}}"); return false;'><span class ='ui_text'>Comment</span></a>                           
                            {% else %}
                            <a href="#" id = 'comment_btn' class = 'posts_ui_text' onclick='submit("add_comment{{post.post_id}}");'><span class ='ui_text'>Comment</span></a>
                            {% endif %}
                        </div>
                        
                </form>
                
                {% if current_user.nickname not in likes[post.post_id] %}
                <form id='like{{post.post_id}}' action='{{ url_for("routes_bp.add_like", post_id = post.post_id) }}' method='post'>
                        <div class="posts_ui_button_center">   
                            <a href="#" id = 'like_btn' class = 'posts_ui_text' onclick='submit("like{{post.post_id}}"); return false;'><span class ='ui_text'>Like</span></a>&nbsp;
                            <a href="{{ url_for('routes_bp.who_liked', post_id = post.post_id) }}"><span class ='ui_text'>({{nol[post.post_id][0]}})</span></a>                         
                        </div>
                </form>
                {% else %}
                <form id='unlike{{post.post_id}}' action='{{ url_for("routes_bp.delete_like", post_id = post.post_id) }}' method='post'>
                    <div class="posts_ui_button_center">
                        <a href="#" id = 'unlike_btn' class = 'posts_ui_text' onclick='submit("unlike{{post.post_id}}"); return false;'><span class ='ui_text'>Like</span></a>&nbsp;
                        <a href="{{ url_for('routes_bp.who_liked', post_id = post.post_id) }}"><span class ='ui_text'>({{nol[post.post_id][0]}})</span></a>
                    </div>
                </form>
                {% endif %}
                    </div>         
            </div>

        {% endif %}
        {% endfor %}

    {% else %}
        
        <div id='post'>
            <div class = 'Post-text'>
                <p id='no_news'> Nothing new yet </p> 
            </div>
        </div>
    
    {% endif %}

{% endblock %}